<div class="jobbnorge-feed-item">
  <div class="jobbnorge-heading">
    {{ title }}
  </div>
  <div class="jobbnorge-date">
    {{ date }}
  </div>
  <div class="jobbnorge-application-deadline">
    {{ application_deadline }}
  </div>
  <div class="jobbnorge-body">
    {{ body }}
  </div>


</div>
